// Fonts
@font-face {
  font-family: 'MuseoSans';
  src:  url('../fonts/museosans/MuseoSans-Light.otf');
  font-weight: lighter;
}
@font-face {
  font-family: 'MuseoSans';
  src:  url('../fonts/museosans/MuseoSans-Regular.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src:  url('../fonts/museosans/MuseoSans-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'OpenSans';
  src:  url('../fonts/opensans/OpenSans-Light.ttf');
  font-weight: lighter;
}
@font-face {
  font-family: 'OpenSans';
  src:  url('../fonts/opensans/OpenSans-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'OpenSans';
  src:  url('../fonts/opensans/OpenSans-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'OpenSans';
  src:  url('../fonts/opensans/OpenSans-Bold.ttf');
  font-weight: bold;
}

// Default
html {font-size: 14px;}
body {
  min-height: 100%;
  font-size: 1em;
  font-family: 'MuseoSans', 'OpenSans';
  background-color: #f1f2f2;
  color: #414042;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #414042;
}
img {
  max-width: 100%;
}
