// HELPER CSS
@import "helper";

// VARIABLES
$defaultColor: #d83454;
$tablet: 992px;
$mobile: 600px;

// DRY
.container {
  @media (max-width: $mobile) 
  {
    width: 85%;
    padding: 0;
  }
}
.region-content [id^="block-block"] {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
  h2 {
    font-size: 5em;
    @media (max-width: $tablet) 
    {
      font-size: 4em;
    }
    @media (max-width: $mobile) 
    {
      font-size: 3em;
    }
  }
}
.btn-circle {
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: 50px;
  margin-left: -22.5px;
  i {
    vertical-align: bottom;
  }
  &.white {
    border: 2px solid #fff;
    color: #fff;
  }
  &.red {
    background-color: $defaultColor;
    border: 2px solid #fff;
    color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
  }
  &.black {
    border: 2px solid #000;
    color: #000;
  }
}

// Content Custom Styles
#block-block-1 {
  padding-top: 18%;
  background-color: $defaultColor;
  color: #fff;
  img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 75px;
  }
  .content {
    padding: 36px 0 72px 0;
    p {
      max-width: 450px;
      font-size: 18px;
      margin: 0 auto;
      font-weight: lighter;
    }
  }
}
#block-block-2, #block-block-3, #block-block-4 {
  img {
    width: 100%;
    max-width: 546px;
  }
  h3 {
    font-weight: lighter;
    font-size: 33.6px;
    padding: 90px 0 48px 0;
    @media (max-width: $mobile) 
    {
      font-size: 18px;
    }
  }
}
#block-block-5 {
  background-color: #fff;
  .content {
    padding: 120px 0;
    @media (max-width: $tablet) 
    {
      padding: 30px 0;
      text-align: left;
      [class^="col"] {
        padding: 5px 0;
      }
    }
    img {
      width: 100%;
      max-width: 222px;
      @media (max-width: $tablet) 
      {
        max-width: 20%;
        display: inline-block;
      }
      @media (max-width: $mobile) 
      {
        max-width: 14%;
      }
    }
    p {
      margin-top: 60px;
      font-size: 24px;
      font-weight: lighter;
      @media (max-width: $tablet) 
      {
        font-size: 18px;
        margin: 0 0 25px 3%;
        padding-top: 8px;
        text-align: left;
        display: inline-block;
      }
    }
  }
}
#block-block-6 {
  .container {
    position: relative;
    height: 100%;
    .content {
      position: absolute;
      top: 50%;
      width: 100%;
      margin-top: - 51px;
    }
  }
}
#block-block-7 {
  h2 {
    margin-bottom: 3rem;
  }
  iframe {
    width: 100%;
    height: 26rem;
    @media (max-width: $tablet) 
    {
      height: 23rem;
    }
    @media (max-width: $mobile) 
    {
      height: 18rem;
    }
  }
  .btc-circle {
    bottom: 5rem;
  }
}
#block-block-8 {
  padding: 5rem 0;
  h2 {
    margin-bottom: 3rem;
  }
  #contact {
    max-width: 34rem;
    margin: 0 auto;
    .form-control {
      font-size: 1.3em;
      font-weight: lighter;
      border: 2px solid #ccc;
    }
    button {
      background-color: $defaultColor;
      width: 100%;
      border-width: 0;
      padding: 10px 0;
      font-size: 1.4em;
    }
  }
  p {
    font-size: 22px;
    padding: 15px 0;
  }
}

// Edit LighterSlider
.lSAction > a {
  background-image: none;
}
