@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/museosans/MuseoSans-Light.otf");
  font-weight: lighter;
}
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/museosans/MuseoSans-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/museosans/MuseoSans-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans/OpenSans-Light.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans/OpenSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans/OpenSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans/OpenSans-Bold.ttf");
  font-weight: bold;
}
/* line 40, ../sass/helper.scss */
html {
  font-size: 14px;
}

/* line 41, ../sass/helper.scss */
body {
  min-height: 100%;
  font-size: 1em;
  font-family: 'MuseoSans', 'OpenSans';
  background-color: #f1f2f2;
  color: #414042;
  margin: 0 auto;
}

/* line 49, ../sass/helper.scss */
a {
  text-decoration: none;
  color: #414042;
}

/* line 53, ../sass/helper.scss */
img {
  max-width: 100%;
}
