@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/museosans/MuseoSans-Light.otf");
  font-weight: lighter;
}
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/museosans/MuseoSans-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/museosans/MuseoSans-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans/OpenSans-Light.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans/OpenSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans/OpenSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans/OpenSans-Bold.ttf");
  font-weight: bold;
}
/* line 40, ../sass/helper.scss */
html {
  font-size: 14px;
}

/* line 41, ../sass/helper.scss */
body {
  min-height: 100%;
  font-size: 1em;
  font-family: 'MuseoSans', 'OpenSans';
  background-color: #f1f2f2;
  color: #414042;
  margin: 0 auto;
}

/* line 49, ../sass/helper.scss */
a {
  text-decoration: none;
  color: #414042;
}

/* line 53, ../sass/helper.scss */
img {
  max-width: 100%;
}

@media (max-width: 600px) {
  /* line 10, ../sass/main.scss */
  .container {
    width: 85%;
    padding: 0;
  }
}

/* line 17, ../sass/main.scss */
.region-content [id^="block-block"] {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}
/* line 21, ../sass/main.scss */
.region-content [id^="block-block"] h2 {
  font-size: 5em;
}
@media (max-width: 992px) {
  /* line 21, ../sass/main.scss */
  .region-content [id^="block-block"] h2 {
    font-size: 4em;
  }
}
@media (max-width: 600px) {
  /* line 21, ../sass/main.scss */
  .region-content [id^="block-block"] h2 {
    font-size: 3em;
  }
}

/* line 33, ../sass/main.scss */
.btn-circle {
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: 50px;
  margin-left: -22.5px;
}
/* line 44, ../sass/main.scss */
.btn-circle i {
  vertical-align: bottom;
}
/* line 47, ../sass/main.scss */
.btn-circle.white {
  border: 2px solid #fff;
  color: #fff;
}
/* line 51, ../sass/main.scss */
.btn-circle.red {
  background-color: #d83454;
  border: 2px solid #fff;
  color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
/* line 57, ../sass/main.scss */
.btn-circle.black {
  border: 2px solid #000;
  color: #000;
}

/* line 64, ../sass/main.scss */
#block-block-1 {
  padding-top: 18%;
  background-color: #d83454;
  color: #fff;
}
/* line 68, ../sass/main.scss */
#block-block-1 img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 75px;
}
/* line 73, ../sass/main.scss */
#block-block-1 .content {
  padding: 36px 0 72px 0;
}
/* line 75, ../sass/main.scss */
#block-block-1 .content p {
  max-width: 450px;
  font-size: 18px;
  margin: 0 auto;
  font-weight: lighter;
}

/* line 84, ../sass/main.scss */
#block-block-2 img, #block-block-3 img, #block-block-4 img {
  width: 100%;
  max-width: 546px;
}
/* line 88, ../sass/main.scss */
#block-block-2 h3, #block-block-3 h3, #block-block-4 h3 {
  font-weight: lighter;
  font-size: 33.6px;
  padding: 90px 0 48px 0;
}
@media (max-width: 600px) {
  /* line 88, ../sass/main.scss */
  #block-block-2 h3, #block-block-3 h3, #block-block-4 h3 {
    font-size: 18px;
  }
}

/* line 98, ../sass/main.scss */
#block-block-5 {
  background-color: #fff;
}
/* line 100, ../sass/main.scss */
#block-block-5 .content {
  padding: 120px 0;
}
@media (max-width: 992px) {
  /* line 100, ../sass/main.scss */
  #block-block-5 .content {
    padding: 30px 0;
    text-align: left;
  }
  /* line 106, ../sass/main.scss */
  #block-block-5 .content [class^="col"] {
    padding: 5px 0;
  }
}
/* line 110, ../sass/main.scss */
#block-block-5 .content img {
  width: 100%;
  max-width: 222px;
}
@media (max-width: 992px) {
  /* line 110, ../sass/main.scss */
  #block-block-5 .content img {
    max-width: 20%;
    display: inline-block;
  }
}
@media (max-width: 600px) {
  /* line 110, ../sass/main.scss */
  #block-block-5 .content img {
    max-width: 14%;
  }
}
/* line 123, ../sass/main.scss */
#block-block-5 .content p {
  margin-top: 60px;
  font-size: 24px;
  font-weight: lighter;
}
@media (max-width: 992px) {
  /* line 123, ../sass/main.scss */
  #block-block-5 .content p {
    font-size: 18px;
    margin: 0 0 25px 3%;
    padding-top: 8px;
    text-align: left;
    display: inline-block;
  }
}

/* line 139, ../sass/main.scss */
#block-block-6 .container {
  position: relative;
  height: 100%;
}
/* line 142, ../sass/main.scss */
#block-block-6 .container .content {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -51px;
}

/* line 151, ../sass/main.scss */
#block-block-7 h2 {
  margin-bottom: 3rem;
}
/* line 154, ../sass/main.scss */
#block-block-7 iframe {
  width: 100%;
  height: 26rem;
}
@media (max-width: 992px) {
  /* line 154, ../sass/main.scss */
  #block-block-7 iframe {
    height: 23rem;
  }
}
@media (max-width: 600px) {
  /* line 154, ../sass/main.scss */
  #block-block-7 iframe {
    height: 18rem;
  }
}
/* line 166, ../sass/main.scss */
#block-block-7 .btc-circle {
  bottom: 5rem;
}

/* line 170, ../sass/main.scss */
#block-block-8 {
  padding: 5rem 0;
}
/* line 172, ../sass/main.scss */
#block-block-8 h2 {
  margin-bottom: 3rem;
}
/* line 175, ../sass/main.scss */
#block-block-8 #contact {
  max-width: 34rem;
  margin: 0 auto;
}
/* line 178, ../sass/main.scss */
#block-block-8 #contact .form-control {
  font-size: 1.3em;
  font-weight: lighter;
  border: 2px solid #ccc;
}
/* line 183, ../sass/main.scss */
#block-block-8 #contact button {
  background-color: #d83454;
  width: 100%;
  border-width: 0;
  padding: 10px 0;
  font-size: 1.4em;
}
/* line 191, ../sass/main.scss */
#block-block-8 p {
  font-size: 22px;
  padding: 15px 0;
}

/* line 198, ../sass/main.scss */
.lSAction > a {
  background-image: none;
}
