<div class="row">
  <div class="col-sm-12 col-md-8 offset-md-2 col-lg-3 offset-lg-0">
    <img src="sites/all/themes/custom/geeklabel/assets/images/services_1.png">
    <p>Web Development</p>
  </div>
  <div class="col-sm-12 col-md-8 offset-md-2 col-lg-3 offset-lg-0">
    <img src="sites/all/themes/custom/geeklabel/assets/images/services_2.png">
    <p>Design</p>
  </div>
  <div class="col-sm-12 col-md-8 offset-md-2 col-lg-3 offset-lg-0">
    <img src="sites/all/themes/custom/geeklabel/assets/images/services_3.png">
    <p>Branding</p>
  </div>
  <div class="col-sm-12 col-md-8 offset-md-2 col-lg-3 offset-lg-0">
    <img src="sites/all/themes/custom/geeklabel/assets/images/services_4.png">
    <p>UX Research</p>
  </div>
</div>